.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #4688f1;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  word-spacing: 2rem;
  color: #f8fc00;
}

h2 {
  color: #fcca00;
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 3rem;
  color: #0008ff;
  font-family: 'Alkatra', cursive;
  font-weight: 900;
}

img {
  width: 60%;
}